<header>
  <div class="header-container group"> 
    <h1>Hi, I'm Angelo.</h1>
    <div class="header-actions">
      <ul class="group">
        <li>GIT</li>
        <li>LI</li>
        <li>GM</li>
      </ul>
    </div>
  </div>
</header>


<div class="sidebar"> 
  <p>this is the side bar</p>
</div>

<div class="main-content">
  <p>main content goes here</p>
</div> 
